<!DOCTYPE html>
<html ng-app="appname">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="initial-scale=1.0">

    <link href="Content/style.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="Content/snap.css"/>
    <link rel="stylesheet" type="text/css" href="Content/demo.css"/>

    <link href="bootstrap.min.css" rel="stylesheet">

    <script src="snap.js" type="text/javascript" charset="utf-8"></script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDcH9YJOZt8NR0kGIJgICXB6PvYG5LiVQQ"></script>

    <script data-require="angular.js@1.2.x" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular.min.js"
            data-semver="1.2.4"></script>

    <script src="angular-snap.js" type="text/javascript" charset="utf-8"></script>

    <script src="config.js"></script>
    <script src="app.js"></script>
</head>


<body>

<div class="mainContainer" ng-controller="controller">


    <div class="container">

        <snap-drawers>
            <div snap-drawer="left">
                <div class="logoContainer" style="margin:10px;">
                    <a href="">
                        <img alt="Team Manager" src="Content/images/rubicon.jpg"
                             width="50"/>
                    </a>
                </div>

                <div>
                    <h4>Teams</h4>

                    <input type="submit" class="btn btn-primary"
                           style="padding-left:30px;padding-right:30px;margin-top:-2px;margin-left:9px"
                           value="Add"/>


                </div>

                <div>
                    <h4>Members</h4>

                    <ul ng-repeat="member in members">
                        <li><a href="" ng-click="show(member)">{{member.Name}}</a></li>
                    </ul>

                    <input type="submit" class="btn btn-primary"
                           ng-click="add()"
                           style="padding-left:30px;padding-right:30px;margin-top:-2px;margin-left:9px"
                           value="Add"/>


                </div>
            </div>

            <div snap-drawer="right">

                <div class="row centered-form" ng-show="doShow">
                    <div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">{{selectedMember.Name}}

                                    <button class="btn btn-primary"
                                            style="width:65px;background-color:#cf000f;border-color:#d91e18"
                                            ng-click="deleteItem(selectedMember)">
                                        Delete
                                    </button>
                                </h4>
                            </div>
                            <div class="panel-body">
                                <form name="form" ng-submit="changeItem(selectedMember)">
                                    <div class="alert alert-success" style="display: none;"></div>

                                    <div class="row" style="margin-bottom:10px;">
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Name:</label>

                                            <div class="col-sm-8">
                                                <input type="text" name="name" class="form-control input-sm"
                                                       ng-model="selectedMember.Name" placeholder="Name" tabindex="1"
                                                       required/>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row" style="margin-bottom:10px;">
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Team:</label>

                                            <div class="col-sm-8">
                                                <select id="change_team" ng-model="selectedMember.Team"
                                                        class="form-control input-large"
                                                        style="color:#A8A8A8">
                                                    <option ng-repeat="team in teams" value="{{team}}">
                                                        {{team}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row" style="margin-bottom:10px;">
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Status:</label>

                                            <div class="col-sm-8">
                                                <select id="change_status" ng-model="selectedMember.Active"
                                                        class="form-control input-large"
                                                        style="color:#A8A8A8">
                                                    <option ng-repeat="value in active_status" value="{{value}}">
                                                        {{value}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="row" style="margin-bottom:10px;">
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Base:</label>

                                            <div class="col-sm-8">
                                                <select id="change_base" ng-model="selectedMember.Base"
                                                        class="form-control input-large"
                                                        style="color:#A8A8A8">
                                                    <option ng-repeat="base in bases" value="{{base}}">
                                                        {{base}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="well" style="margin: 0 auto 5px; text-align:right">
                                        <button type="submit" class="btn btn-primary" style="width:100px">Save
                                        </button>

                                        <button type="submit" class="btn btn-primary" style="width:100px"
                                                snap-toggle="left">Cancel
                                        </button>

                                    </div>


                                </form>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="row centered-form" ng-show="doAdd">
                    <div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">Add Team Member</h4>
                            </div>
                            <div class="panel-body">
                                <form name="form" ng-submit="addItem()">
                                    <div class="alert alert-success" style="display: none;"></div>

                                    <div class="row" style="margin-bottom:10px;">
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Name:</label>

                                            <div class="col-sm-8">
                                                <input type="text" name="name" class="form-control input-sm"
                                                       ng-model="member.Name" placeholder="Name" tabindex="1"
                                                       required/>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row" style="margin-bottom:10px;">
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Team:</label>

                                            <div class="col-sm-8">
                                                <select id="team" ng-model="member.Team"
                                                        ng-init="member.Team = teams[0]"
                                                        class="form-control input-large"
                                                        style="color:#A8A8A8">
                                                    <option ng-repeat="team in teams" value="{{team}}">
                                                        {{team}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="row" style="margin-bottom:10px;">
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Status:</label>

                                            <div class="col-sm-8">
                                                <select id="is_active" ng-model="member.Active"
                                                        ng-init="member.Active = Active || active_status[0]"
                                                        class="form-control input-large"
                                                        style="color:#A8A8A8">
                                                    <option ng-repeat="value in active_status" value="{{value}}">
                                                        {{value}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="row" style="margin-bottom:10px;">
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Base:</label>

                                            <div class="col-sm-8">
                                                <select id="base" ng-model="member.Base"
                                                        ng-init="member.Base = bases[0]"
                                                        class="form-control input-large"
                                                        style="color:#A8A8A8">
                                                    <option ng-repeat="base in bases" value="{{base}}">
                                                        {{base}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="well" style="margin: 0 auto 5px; text-align:right">
                                        <button type="submit" class="btn btn-primary" style="width:100px">Add
                                        </button>

                                        <button class="demo-social btn btn-primary" style="width:100px"
                                                snap-toggle="left">
                                            Cancel
                                        </button>
                                    </div>

                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </snap-drawers>

    </div>

    <div snap-content data-snap-ignore="true" style="width: 100%;">

        <!-- Static navbar -->
        <nav class="navbar navbar-default navbar-static-top" style="opacity: 0.6;width: 80%;">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#navbar"
                            aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>


                    <div class="navbar-brand" href="">Team Impromptu : Field Manager</div>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="settings">Settings</a></li>
                        <li><a href="user">User: Donal</a></li>
                    </ul>
                </div>

            </div>
        </nav>

        <div id="map"></div>

    </div>

</body>

</html>