<!DOCTYPE html>
<html ng-app="appname">

<head>
    <meta charset="utf-8"/>

    <link href="Content/style.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="Content/snap.css"/>
    <link rel="stylesheet" type="text/css" href="Content/demo.css"/>

    <link href="bootstrap.min.css" rel="stylesheet">

    <script src="snap.js" type="text/javascript" charset="utf-8"></script>
    <script data-require="angular.js@1.2.x" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular.min.js"
            data-semver="1.2.4"></script>
    <script src="angular-snap.js" type="text/javascript" charset="utf-8"></script>


    <script src="config.js"></script>
    <script src="app.js"></script>
</head>


<body>

<div class="mainContainer" ng-controller="controller">

    <div class="container">

        <snap-drawers>
            <div snap-drawer="left">
                <div class="logoContainer" style="margin:10px;">
                    <a href="">
                        <img alt="Team Manager" src="Content/images/rubicon.jpg"
                             width="50"/>
                    </a>
                </div>

                <div>
                    <h4>Members</h4>
                    <ul ng-repeat="member in members">
                        <li><a href=""> {{member.Name}}</a></li>
                    </ul>

                    <button class="demo-social btn btn-primary" style="margin:10px;width:150px" snap-toggle="right">
                        Add
                    </button>

                </div>
            </div>

            <div snap-drawer="right">

                <div class="row centered-form">
                    <div id="frmLogin">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">Add Team Member</h4>
                            </div>
                            <div class="panel-body">
                                <form name="form" ng-submit="addItem()">
                                    <div class="alert alert-success" style="display: none;"></div>

                                    <div class="row" style="margin-bottom:10px;">
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Name:</label>

                                            <div class="col-sm-8">
                                                <input type="text" name="name" class="form-control input-sm"
                                                       ng-model="member.Name" placeholder="Name" tabindex="1"
                                                       required/>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row" style="margin-bottom:10px;">
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Team:</label>

                                            <div class="col-sm-8">
                                                <input type="text" name="team" class="form-control input-sm"
                                                       ng-model="member.Team" placeholder="Team" tabindex="1"
                                                       required/>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row" style="margin-bottom:10px;">
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Is Active:</label>

                                            <div class="col-sm-8">
                                                <input type="text" name="active" class="form-control input-sm"
                                                       ng-model="member.Active" placeholder="Active"
                                                       tabindex="1" required/>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row" style="margin-bottom:10px;">
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Location:</label>

                                            <div class="col-sm-8">

                                                <input type="text" name="active" class="form-control input-sm"
                                                       ng-model="member.Base" placeholder="Location"
                                                       tabindex="1"
                                                       required/>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="well" style="margin: 0 auto 5px; text-align:right">
                                        <button type="submit" class="btn btn-primary" style="width:100px">Add
                                        </button>

                                        <button class="demo-social btn btn-primary" style="width:100px"
                                                snap-toggle="left">
                                            Cancel
                                        </button>
                                    </div>

                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            </div>


        </snap-drawers>

    </div>

    <div snap-content data-snap-ignore="true" style="width: 100%;">

        <button snap-toggle>Toggle Left</button>
        <button snap-toggle="right">Toggle Right</button>


        <!-- Static navbar -->
        <nav class="navbar navbar-default navbar-static-top" style="opacity: 0.6;width: 80%;">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#navbar"
                            aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>


                    <div class="navbar-brand" href="">Team Impromptu : Field Manager</div>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="settings">Settings</a></li>
                        <li><a href="user">User: Donal</a></li>
                    </ul>
                </div>

            </div>
        </nav>


        <div class="mainContainer" style="width: 80%;">

            <div>

                <!-- inside container -->
                <div class="container">

                    <div class="row">
                        <h4 class="titleText">Show Team Members</h4>
                    </div>

                </div>

                <div class="container full_width">
                    <div class="row centered-form" style="padding-bottom:80px">
                        <div style="clear:both;"></div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><strong>Team Members</strong></h3>
                            </div>
                            <div class="panel-body">

                                <table class="table table-hover" id="ResultsTable2">
                                    <thead>
                                    <tr>
                                        <th width="\&quot;10%\&quot;">Name</th>
                                        <th width="\&quot;10%\&quot;">Team</th>
                                        <th width="\&quot;10%\&quot;">Is Active</th>
                                        <th width="\&quot;15%\&quot;">Location</th>
                                        <th width="\&quot;10%\&quot;">&nbsp;</th>
                                        <th width="\&quot;10%\&quot;">&nbsp;</th>
                                    </tr>
                                    </thead>
                                    <tbody>


                                    <tr ng-repeat="member in members">

                                        <td>
                                            <div class="container">
                                                {{member.Name}}
                                            </div>
                                            <div class="container"
                                                 style="width:350px;  float: left; padding-top:10px"
                                                 ng-show="member.Visible">
                                                <div class="row centered-form">
                                                    <div id="frmLogin">
                                                        <div class="panel panel-default">
                                                            <div class="panel-body">
                                                                <form name="form" ng-submit="changeItem(member)">

                                                                    <div class="row" style="margin-bottom:10px;">
                                                                        <div class="form-group">
                                                                            <label class="col-sm-3 control-label">Name:</label>

                                                                            <div class="col-sm-8">
                                                                                <input type="text" name="name"
                                                                                       class="form-control input-sm"
                                                                                       ng-model="member.Name"
                                                                                       placeholder="Name"
                                                                                       tabindex="1" required/>
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                    <div class="row" style="margin-bottom:10px;">
                                                                        <div class="form-group">
                                                                            <label class="col-sm-3 control-label">Team:</label>

                                                                            <div class="col-sm-8">
                                                                                <input type="text" name="team"
                                                                                       class="form-control input-sm"
                                                                                       ng-model="member.Team"
                                                                                       placeholder="Team"
                                                                                       tabindex="1" required/>
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                    <div class="row" style="margin-bottom:10px;">
                                                                        <div class="form-group">
                                                                            <label class="col-sm-3 control-label">Is
                                                                                Active:</label>

                                                                            <div class="col-sm-8">
                                                                                <input type="text" name="active"
                                                                                       class="form-control input-sm"
                                                                                       ng-model="member.Active"
                                                                                       placeholder="Active"
                                                                                       tabindex="1"
                                                                                       required/>
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                    <div class="row" style="margin-bottom:10px;">
                                                                        <div class="form-group">
                                                                            <label class="col-sm-3 control-label">Location:</label>

                                                                            <div class="col-sm-8">

                                                                                <input type="text" name="active"
                                                                                       class="form-control input-sm"
                                                                                       ng-model="member.Base"
                                                                                       placeholder="Location"
                                                                                       tabindex="1"
                                                                                       required/>
                                                                            </div>
                                                                        </div>
                                                                    </div>


                                                                    <div class="well"
                                                                         style="margin: 0 auto 5px; text-align:right">
                                                                        <button type="submit"
                                                                                class="btn btn-primary"
                                                                                style="width:150px">Change
                                                                        </button>
                                                                    </div>

                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td>{{member.Team}}</td>
                                        <td>{{member.Active}}</td>
                                        <td>{{member.Base}}</td>

                                        <td>
                                            <button type="button" id="view" ng-click="editItem(member)"
                                                    class="btn btn-primary" style="width:80px; height:30px;">Edit
                                            </button>
                                        </td>

                                        <td>
                                            <button type="button" id="delete" ng-click="deleteItem(member)"
                                                    class="btn btn-primary" style="width:80px; height:30px;">Delete
                                            </button>
                                        </td>

                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>

</body>

</html>